/* id element */

#fenetre_d_affichage
{
    margin-top: 1.5em;
    margin-left: 3em;
    width: 820px;
    height: 430px;
    background-color: #05204a;
    overflow: hidden;
}

.imgAfficher
{
    width: 100%;
    height: 100%;
}


/* class name */

.margin
{
    margin: 0px;
}

.input_balise 
{
    margin-top: 1.5em;
}

#buttons_containers 
{
    margin-left:30%;
}

#divRectangleSelection1
{
    border: 1px dotted red;
    position: absolute;
}

#divRectangleSelection2
{
    border: 1px dotted red;
    position: absolute;
    margin-top: 2em;
}

.div_list_img
{
    border: solid;
    border-color: lightslategrey;
    border-width: 1px;
    border-radius: 2px;
    margin-top: 10px;
    height:600px;
    overflow-y: auto;
}

.div_list_img::-webkit-scrollbar {
    -webkit-appearance: none;
}

.div_list_img::-webkit-scrollbar:vertical {
    width: 11px;
}

.div_list_img::-webkit-scrollbar-thumb 
{
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.img_card
{
    width: 200px; 
    height: 175px;
    padding: 10px;
}

.img_card:hover 
{
    background-color: #05204A;
}

.background_picture
{
    background-color: #05204A;
}

.delete
{
    margin-left: 5px;
}

/* html element */

ul 
{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li 
{
    margin-top: 3px;
    border-color: black;
    border: 1px;
}

